<div class="account_main">
   <h3>アカウント詳細</h3>
   <div>
     <table class="acccount_table">
       <tr>
         <th>メールアドレス</th>
         <td><%= @user.name %></td>
        </tr>

       <tr>
         <th>パスワード</th>
         <td>**********</td>
       </tr>
      </table>
    </div>
    <div class="edit_link">
    <%= link_to "編集" , edit_user_registration_path(@user) , class:"edit_account" %>
   </div>
</div>
