<div class="complete">
  <h2>予約完了!</h2>
    <p class="complete">ご予約ありがとうございました。</p>

      <div class="return_top_btn">
        <%= link_to "トップページに戻る", homes_top_path, class:"return_top" %>
      </div>
</div>
