// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top_head{
	background-image: url("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg");
	background-size: cover;
	width: 100%;
	height: 600px;
	margin: 0%;
}

.top_head h2{
	margin-top: 0%;
}

.top_search_page{
	padding: 100px 300px 80px 100px;
	position: absolute;
}

.search_content{
	background-color:#FFFFFF;
	padding: 20px;
    border-radius: 10px;
}

.search_content h2{
	font-size: 30px;
	font-family:sans-serif;
    color:	#C0C0C0;
    font-weight: lighter;
}

.search_window{
	width:100%;
    padding: 1px;
    margin: 3px 0;
    font-size:5px;
}

.top_btn{
	width: 100%;
    padding: 1;
    padding: 8px;
    border: 1px;
    font-size: 20px;
	background-color:#FFFFFF;
	color:#C0C0C0;
}

.top_btn:hover{
	background-color:#C0C0C0;
	color: #fff;
}

.popular_page {
    padding-left: 15px;
}

.popular_area_page h2{
    text-align:left;
	font-size: 30px;
	padding-top: 10px;
	color:#C0C0C0;
    font-family:sans-serif;
    font-weight: lighter;

}

.popular_spot {
    display: flex;
	flex-wrap: wrap;
	margin-left:50px;
	margin-top: 30px;
}

li {
    list-style:none
}



